<div class="row">
  <h3 class="ng-binding">My Contacts ({{vm.contacts.length}})</h3>
  
    <table>
      <thead>
        <tr>
          <th><i class="fa fa-male"></i> Name</th>
          <th><i class="fa fa-twitter"></i> Twitter</th>
          <th><i class="fa fa-envelope"></i> Email</th>
          <th><i class="fa fa-birthday-cake"></i> Birthday</th>
          <th width="10%"></th>
        </tr>
      </thead>
      <tr ng-repeat="contact in vm.contacts">
        <td><a ng-click="vm.showContact(contact)">{{contact.name}}</a></td>
        <td>
          <a ng-href="https://twitter.com/{{contact.twitter}}" target="_blank">
            <i class="fa fa-at"></i>{{contact.twitter}}
            <small><i class="fa fa-external-link"></i></small>
          </a>
        </td>
        <td>{{contact.email}}</td>
        <td>{{contact.birthday | date: 'dd/MM/yyyy'}}</td>
        <td>
          <md-button class="md-icon-button md-warn" md-click="vm.remove(contact)">
            <i class="fa fa-trash fa-lg"></i>
          </md-button>
        </td>
      </tr>
    </table>
</div>